body {
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------- Navbar ---------------------------- */

.navbar {
    background-color: #343A40;
}

.navbar-brand {
    font-size: 23px;
    color: white;
}

.nav-item a {
    font-size: 16px;
    color: white;
}

.nav-item a:hover {
    color: #007bff;
}

.navbar .navbar-toggler{
    color: rgba(255, 255, 255, 0.5)
}

/* ---------------------------- Jumbotron ---------------------------- */

.jumbotron {
    margin-bottom: 0px;
}

.jumbotron h2 {
    font-size: 72px;
    font-weight: 300;
}

/* ---------------------------- Media Query ---------------------------- */

@media only screen {
    .jumbotron .container {
        margin-left: 0;
    }
}