body {
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------- Navbar ---------------------------- */

.navbar {
    background-color: #343A40;
}

.navbar-brand {
    font-size: 23px;
    color: white;
}

.nav-item a {
    font-size: 16px;
    color: white;
}

.nav-item a:hover {
    color: #007bff;
}

.navbar .navbar-toggler{
    color: rgba(255, 255, 255, 0.5)
}

/* ---------------------------- Jumbotron ---------------------------- */

.jumbotron {
    margin-bottom: 0px;
    color: #212529;
}

.jumbotron h2 {
    font-size: 72px;
    font-weight: 300;
}

.jumbotron p {
    font-size: 16px;
}

/* ---------------------------- Media Query ---------------------------- */

.cards {
    padding-left: 32px;
}

.cards .container {
    padding-left: 48px;
}

.cards .card {
    margin-top: 32px;
}

/* ---------------------------- Media Query ---------------------------- */

@media only screen and (max-width: 575px){
    .jumbotron h2 {
        font-size: 48px;
    }
}